@import "colors";

body,
button {
	transition: all 0.2s ease-in-out;
}

// dark theme colors
body.dark {
	background-color: $t1_main_background;

	.logo a,
	.theme-selector legend,
	.theme-selector label,
	.output,
	button[aria-label="delete"],
	.reset-btn,
	.equals-btn,
	footer {
		color: $text_white;
	}

	.slider {
		background-color: $t1_toggle_background;
	}

	.slider:before {
		background-color: $t1_toggle;
	}

	input:hover ~ .slider:before,
	input:focus ~ .slider:before {
		filter: brightness(150%);
	}

	.output {
		background-color: $dark_screen_background;
	}

	.calculator-grid {
		background-color: $t1_toggle_background;
	}

	.calculator-grid button {
		background-color: $t1_background_button;
		color: $text_dark;
		box-shadow: inset 0 -5px $t1_shadow_button;
	}

	.calculator-grid button:hover,
	.calculator-grid button:focus {
		filter: brightness(150%);
	}

	button[aria-label="delete"],
	button.reset-btn {
		background-color: $t1_background;
		color: $text_white;
		box-shadow: inset 0 -5px $t1_shadow;
	}

	button.equals-btn {
		background-color: $t1_toggle;
		color: $text_white;
		box-shadow: inset 0 -5px $t1_key_shadow;
	}

	footer a {
		color: $t1_background_button;
	}

	footer a:hover,
	footer a:focus {
		color: $t1_toggle;
		filter: brightness(190%);
	}
}

// light theme colors
body.light {
	background-color: $t2_main_background;

	.logo a,
	.theme-selector legend,
	.theme-selector label,
	.output,
	button[aria-label="delete"],
	.reset-btn,
	.equals-btn,
	footer {
		color: $text_dark_yellow;
	}

	.slider {
		background-color: $t2_toggle_background;
	}

	.slider:before {
		background-color: $t2_toggle;
	}

	input:hover ~ .slider:before,
	input:focus ~ .slider:before {
		filter: brightness(150%);
	}

	.output {
		background-color: $t2_screen_background;
	}

	.calculator-grid {
		background-color: $t2_toggle_background;
	}

	.calculator-grid button {
		background-color: $t2_background_button;
		color: $text_dark;
		box-shadow: inset 0 -5px $t2_shadow_button;
	}

	.calculator-grid button:hover,
	.calculator-grid button:focus {
		filter: brightness(150%);
	}

	button[aria-label="delete"],
	button.reset-btn {
		background-color: $t2_background;
		color: $text_white;
		box-shadow: inset 0 -5px $t2_shadow;
	}

	button.equals-btn {
		background-color: $t2_toggle;
		color: $text_white;
		box-shadow: inset 0 -5px $t2_key_shadow;
	}

	footer a {
		color: $t2_toggle;
	}
}

// purple theme colors
body.purple {
	background-color: $t3_main_background;

	.logo a,
	.theme-selector legend,
	.theme-selector label,
	.output,
	button[aria-label="delete"],
	.reset-btn,
	.equals-btn,
	footer {
		color: $text_yellow;
	}

	.slider {
		background-color: $t3_toggle_background;
	}

	.slider:before {
		background-color: $t3_toggle;
	}

	input:hover ~ .slider:before,
	input:focus ~ .slider:before {
		filter: brightness(150%);
	}

	.output,
	.calculator-grid {
		background-color: $t3_toggle_background;
	}

	.calculator-grid button {
		background-color: $t3_background_button;
		color: $text_yellow;
		box-shadow: inset 0 -5px $t3_shadow_button;
	}

	.calculator-grid button:hover,
	.calculator-grid button:focus {
		filter: brightness(150%);
	}

	button[aria-label="delete"],
	button.reset-btn {
		background-color: $t3_background;
		color: $text_white;
		box-shadow: inset 0 -5px $t3_shadow;
	}

	button.equals-btn {
		background-color: $t3_toggle;
		color: $text_dark_blue;
		box-shadow: inset 0 -5px $t3_key_shadow;
	}

	footer a {
		color: $t3_toggle;
	}

	footer a:hover {
		filter: brightness(110%);
	}
}
