@import "footer";
@import "header";
@import "themes";
@import "media-queries";

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Encode Sans Expanded", sans-serif;
	font-family: "Kumbh Sans", sans-serif;
	font-family: "Spartan", sans-serif;
}

body {
	padding: 0 24px;
}

#wrapper {
	max-width: 540px;
	margin: 96px auto 2rem;

	@include mobile {
		margin: 28px auto 2rem;
	}
}

.logo a {
	text-decoration: none;
}

header {
	display: flex;
	justify-content: space-between;

	fieldset {
		border: none;
		display: flex;
		align-items: flex-end;
	}

	legend {
		display: contents;
	}

	div {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}

	div:nth-child(3) {
		margin: 0 10px;
	}

	h2 {
		margin-right: 20px;
	}

	h2,
	label {
		font-size: 12px;
		font-weight: bold;
	}

	label:hover {
		cursor: pointer;
	}
}

.output {
	// height: 88px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 48px;
	font-weight: bold;
	margin: 36px 0 24px;
	padding: 38px 32px;
	border-radius: 10px;
	overflow: hidden;

	@include mobile {
		font-size: 32px;
		padding: 26px 24px;
	}
}

.calculator-grid {
	padding: 32px;
	border-radius: 10px;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, minmax(auto, 100px));
	grid-template-rows: repeat(5, 64px);
	gap: 25px;

	@include mobile {
		padding: 24px;
		grid-template-rows: repeat(5, 60px);
		gap: 3vw;
	}

	button {
		font-weight: bold;
		font-size: 32px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		height: 100%;
		width: 100%;

		@include mobile {
			font-size: 28px;
		}
	}

	.reset-btn,
	.equals-btn,
	button[aria-label="delete"] {
		font-size: 20px;

		@include mobile {
			font-size: 16px;
		}
	}

	.span-two {
		grid-column: span 2;
	}
}
